{% load staticfiles %}
<html>

    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body ng-app="blog">

        <div class="container">


            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">Bookmarks</a>
                    </div>

                </div><!-- /.container-fluid -->
            </nav>


            <div class="row">

                {% verbatim %}
                    <!-- left side bar -->
                    <div class="col-md-3">
                    </div>
                    <!-- end of left side bar -->

                    <!-- articles content -->
                    <div class="col-md-9">

                        <!-- main articles content -->
                        <div class="content row">
                            <div class="content">
                                <div ng-view></div>
                            </div>
                        </div>
                        <!-- end of main articles content -->

                        <!-- what read next start -->
                        <div class="row">
                            <what-read-next></what-read-next>
                        </div>
                        <!-- end of what read next -->

                    </div>
                    <!-- end of articles content -->
                {% endverbatim %}

            </div>
        </div>

    </body>
</html>
