<h3>Bookmarks</h3>

<a type="button" class="btn btn-primary" ng-href="#!/bookmarks/create">Add a bookmark</a>

<ul>
    <div ng-repeat="bookmark in $ctrl.bookmarks ">
        <!-- list of bookmarks -->
        <li>
            <h3 ><a ng-href="#!/bookmarks/{{bookmark.id}}">{{bookmark.name}}</a></h3>
            <strong ><a ng-href="#!/bookmarks/edit/{{bookmark.id}}">edit</a></strong>
            <strong ><a ng-click="deleteBookmark(bookmark.id)" ng-controller="BookmarkDeleteController">delete</a></strong>
        </li>
        <!-- end of list of bookmarks -->
    </div>
</ul>
